.body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 30px 150px;
    display: flex;
}

.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    padding: 15px 30px;
}

.banner .banner-pic {
    width: 500px;
    border-bottom: 0;
}